<li data-index-number={{index}}>
    <div class="repo-image">
        {{#if repoImage}}
            <img src="{{repoImage}}" alt="repoImg">
        {{else}}
            <span class="default-logo"></span>
        {{/if}}
    </div>
    <div class="select-metadata">
        <div class="manifest-title">
            <h3 title="{{{label}}}">{{{label}}}</h3>
        </div>
        <div class="item-info">
            <div class="item-info-row">
                {{#if repository}}
                    <div class="repo-label">{{repository}}</div>
                {{/if}}
                <div class="canvas-count">{{canvasCount}} {{pluralize canvasCount (t "item") (t "items")}}</div>
            </div>
        </div>
    </div>
    <div class="preview-thumb">
        <div class="preview-images">
            {{#each images}}
                <img src="{{url}}" width="{{width}}" height="{{height}}" class="preview-image flash"
                     data-image-id="{{id}}">
            {{/each}}
        </div>
        {{#if remaining}}
            <i class="fa fa fa-ellipsis-h remaining"></i>
        {{/if}}
    </div>
</li>