<div class="sub-title">{{t "details"}}:</div>
<div class="{{metadataListingCls}}">
    {{#each details}}
        <div class="metadata-item">
            <div class="metadata-label">{{label}}:</div>
            <div class="metadata-value">{{{value}}}</div>
        </div>
    {{/each}}
</div>
<div class="sub-title">{{t "rights"}}:</div>
{{#if rights}}
    <div class="{{metadataListingCls}}">
        {{#each rights}}
            <div class="metadata-item {{identifier}}">
                <div class="metadata-label">{{label}}:</div>
                <div class="metadata-value">{{{value}}}</div>
            </div>
        {{/each}}
        {{#if logo}}
            <div class="metadata-item">
                <div class="metadata-label">{{t "logo"}}:</div>
                <img class="metadata-logo" src="{{logo}}"/></div>
        {{/if}}
    </div>
{{else}}
    <div class="{{metadataListingCls}}">
        <div class="metadata-item">
            <div class="metadata-label">{{t "rightsStatus"}}:</div>
            <div class="metadata-value">{{t "unspecified"}}</div>
        </div>
    </div>
{{/if}}
{{#if links}}
    <div class="sub-title">{{t "links"}}:</div>
    <div class="{{metadataListingCls}}">
        {{#each links}}
            <div class="metadata-item {{identifier}}">
                <div class="metadata-label">{{label}}:</div>
                <div class="metadata-value">{{{value}}}</div>
            </div>
        {{/each}}
            <!--{{#if relatedLinks}}-->
        <!--<dt>{{label}}:</dt><dd>{{{value}}}</dd>-->
            <!--{{/if}}-->
        </dl>
{{/if}}