<div class="{{thumbnailCls}}">
    <div class="{{listingCssCls}}" role="list" aria-label="Thumbnails">
        {{#thumbs}}
            <div class="{{highlight}}" role="listitem" aria-label="Thumbnail">
                <img class="thumbnail-image {{highlight}}" title="{{title}}" src=""
                     data="{{thumbUrl}}">
                <div class="thumb-label" data-image-id="{{id}}">
                    <i class="fa fa-search fa-2x"></i>
                    <span class="imageTitle">{{title}}</span>
                </div>
            </div>
        {{/thumbs}}
    </div>
</div>