<div class="window">
    <div class="manifest-info">
        <div class="window-manifest-navigation">
            {{#if userButtons}}
                {{windowuserbtns userButtons}}
            {{/if}}
            <a href="javascript:;" class="mirador-btn mirador-icon-view-type" role="button"
               title="{{t "viewTypeTooltip"}}" aria-label="{{t "viewTypeTooltip"}}">
                <i class="{{currentFocusClass}}"></i>
                <i class="fa fa-caret-down"></i>
                <ul class="dropdown image-list">
                    {{#if ImageView}}
                        <li class="single-image-option"><i class="{{iconClasses.ImageView}}"></i> {{t "imageView"}}</li>
                    {{/if}}
                    {{#if BookView}}
                        <li class="book-option"><i class="{{iconClasses.BookView}}"></i> {{t "bookView"}}</li>
                    {{/if}}
                    {{#if ScrollView}}
                        <li class="scroll-option"><i class="{{iconClasses.ScrollView}}"></i> {{t "scrollView"}}</li>
                    {{/if}}
                    {{#if ThumbnailsView}}
                        <li class="thumbnails-option"><i class="{{iconClasses.ThumbnailsView}}"></i> {{t
                                "thumbnailsView"}}</li>
                    {{/if}}
                </ul>
            </a>
            {{#if MetadataView}}
                <a href="javascript:;" class="mirador-btn mirador-icon-metadata-view mirador-tooltip" role="button"
                   title="{{t "metadataTooltip"}}" aria-label="{{t "metadataTooltip"}}">
                    <i class="fa fa-info-circle fa-lg fa-fw"></i>
                </a>
            {{/if}}
            {{#if showFullScreen}}
                <a class="mirador-btn mirador-osd-fullscreen mirador-tooltip" role="button"
                   title="{{t "fullScreenWindowTooltip"}}" aria-label="{{t "fullScreenWindowTooltip"}}">
                    <i class="fa fa-lg fa-fw fa-expand"></i>
                </a>
            {{/if}}
        </div>
        {{#if layoutOptions.close}}
            <a href="javascript:;" class="mirador-btn mirador-close-window remove-object-option mirador-tooltip"
               title="{{t "closeTooltip"}}" aria-label="{{t "closeTooltip"}}"><i
                    class="fa fa-times fa-lg fa-fw"></i></a>
        {{/if}}
        {{#if displayLayout}}
            <a href="javascript:;" class="mirador-btn mirador-icon-window-menu" title="{{t "changeLayoutTooltip"}}"
               aria-label="{{t "changeLayoutTooltip"}}"><i class="fa fa-th-large fa-lg fa-fw"></i><i
                    class="fa fa-caret-down"></i>
                <ul class="dropdown slot-controls">
                    {{#if layoutOptions.newObject}}
                        <li class="new-object-option"><i class="fa fa-refresh fa-lg fa-fw"></i> {{t "newObject"}}</li>
                        <hr class="menu-divider"/>
                    {{/if}}
                    {{#if layoutOptions.slotRight}}
                        <li class="add-slot-right"><i class="fa fa-arrow-circle-right fa-lg fa-fw"></i> {{t
                                "addSlotRight"}}</li>
                    {{/if}}
                    {{#if layoutOptions.slotLeft}}
                        <li class="add-slot-left"><i class="fa fa-arrow-circle-left fa-lg fa-fw"></i> {{t
                                "addSlotLeft"}}</li>
                    {{/if}}
                    {{#if layoutOptions.slotAbove}}
                        <li class="add-slot-above"><i class="fa fa-arrow-circle-up fa-lg fa-fw"></i> {{t
                                "addSlotAbove"}}</li>
                    {{/if}}
                    {{#if layoutOptions.slotBelow}}
                        <li class="add-slot-below"><i class="fa fa-arrow-circle-down fa-lg fa-fw"></i> {{t
                                "addSlotBelow"}}</li>
                    {{/if}}
                </ul>
            </a>
        {{/if}}
        {{#if sidePanel}}
            <a href="javascript:;" class="mirador-btn mirador-icon-toc selected mirador-tooltip"
               title="{{t "sidePanelTooltip"}}" aria-label="{{t "sidePanelTooltip"}}"><i
                    class="fa fa-bars fa-lg fa-fw"></i></a>
        {{/if}}
        <h3 class="window-manifest-title" title="{{{title}}}" aria-label="{{{title}}}">{{{title}}}</h3>
    </div>
    <div class="content-container">
        {{#if sidePanel}}
            <div class="sidePanel">
            </div>
        {{/if}}
        <div class="overlay"></div>
        <div class="view-container {{#unless sidePanel}}focus-max-width{{/unless}}">
            <div class="bottomPanel">
            </div>
        </div>
    </div>
</div>
