<div class="window">

    <div class="manifest-info">
        <div class="window-manifest-navigation">
            {{#if userButtons}}
                {{windowuserbtns userButtons}}
            {{/if}}
            {{#if MetadataView}}
                <a href="javascript:;" class="mirador-btn mirador-icon-metadata-view mirador-tooltip" role="button"
                   title="{{t "metadataTooltip"}}" aria-label="{{t "metadataTooltip"}}">
                    <i class="fa fa-info-circle fa-lg fa-fw"></i>
                </a>
            {{/if}}
        </div>
        {{#if layoutOptions.close}}
            <a href="javascript:;" class="mirador-btn mirador-close-window remove-object-option mirador-tooltip"
               title="{{t "closeTooltip"}}" aria-label="{{t "closeTooltip"}}"><i
                    class="fa fa-times fa-lg fa-fw"></i></a>
        {{/if}}


        {{#if sidePanel}}
            <a href="javascript:;" class="mirador-btn mirador-icon-toc mirador-tooltip"
               title="{{t "sidePanelTooltip"}}" aria-label="{{t "sidePanelTooltip"}}"><i
                    class="fa fa-bars fa-lg fa-x2 fa-fw"></i></a>
        {{/if}}
        <!--<div class="title-container">-->
            <!--<h3 class="window-manifest-title" title="{{{title}}}" aria-label="{{{title}}}">{{{title}}}</h3>-->
        <!--</div>-->
        <div class="window-manifest-title" title="{{{title}}}" aria-label="{{{title}}}">
            {{{title}}}
        </div>
        {{#if displayLayout}}
            <a href="javascript:;" class="mirador-btn mirador-icon-window-menu pull-right" title="{{t "changeLayoutTooltip"}}"
               aria-label="{{t "changeLayoutTooltip"}}"><i class="fa fa-th-large fa-lg fa-fw"></i><i
                    class="fa fa-caret-down"></i>
                <ul class="dropdown slot-controls">
                    {{#if layoutOptions.newObject}}
                        <li class="new-object-option"><i class="fa fa-refresh fa-lg fa-fw"></i> {{t "newObject"}}
                        </li>
                        <hr class="menu-divider"/>
                    {{/if}}
                    {{#if layoutOptions.slotRight}}
                        <li class="add-slot-right"><i class="fa fa-arrow-circle-right fa-lg fa-fw"></i> {{t
                                "addSlotRight"}}</li>
                    {{/if}}
                    {{#if layoutOptions.slotLeft}}
                        <li class="add-slot-left"><i class="fa fa-arrow-circle-left fa-lg fa-fw"></i> {{t
                                "addSlotLeft"}}</li>
                    {{/if}}
                    {{#if layoutOptions.slotAbove}}
                        <li class="add-slot-above"><i class="fa fa-arrow-circle-up fa-lg fa-fw"></i> {{t
                                "addSlotAbove"}}</li>
                    {{/if}}
                    {{#if layoutOptions.slotBelow}}
                        <li class="add-slot-below"><i class="fa fa-arrow-circle-down fa-lg fa-fw"></i> {{t
                                "addSlotBelow"}}</li>
                    {{/if}}
                </ul>
            </a>
        {{/if}}

    </div>
    <div class="content-container">
        {{#if sidePanel}}
            <div class="sidePanel">
            </div>
        {{/if}}
        <div class="overlay"></div>
        <div class="view-container {{#unless sidePanel}}focus-max-width{{/unless}}">
            <div class="bottomPanel">
            </div>
        </div>
    </div>
</div>
